@import './tailwind.css';

html,
body {
  @apply m-0 p-0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #353535;
}
:root {
  --shadow: 0 0 5em rgba(0, 0, 0, 0.1);
  --shadow-thin: 0 0 1em rgba(0, 0, 0, 0.3);
  --shadow-thick: 0 0 5em rgba(0, 0, 0, 0.2);
}
.icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-name {
  margin-top: 12px;
}
.icon-wrap {
  display: inline-block;
  margin: 24px;
  text-align: center;
}
.icon-wrap .i-ico {
  transition: transform 0.5s;
}
.icon-wrap:hover .i-ico {
  transform: scale(1.3);
}
.icons-wrap {
  margin: auto;
}
.root {
  position: relative;
  max-width: 824px;
  margin: auto;
  /* width: 99vw; */
  /* text-align: center; */
}
a {
  color: inherit;
  text-decoration: none;
}

.input-bar {
  line-height: 1.5;
  width: 100%;
  border-radius: 48px;
  box-shadow: var(--shadow);
  border: 0;
  outline: none;
  padding: 12px 3rem;
  font-size: 20px;
  transition: box-shadow 0.5s;
}

.input-bar:hover {
  box-shadow: var(--shadow-thick);
}
.prefix-icon,
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prefix-icon {
  left: 1rem;
}
.search-icon {
  right: 1rem;
}
.input-bar-wrap {
  position: relative;
}

* {
  box-sizing: border-box;
}
.search {
  margin: 5rem 0;
}
